---
import SectionContainer from '../shared/SectionContainer.astro';
import ExtraServiceCard from '@/components/ui/cards/ExtraServiceCard.astro';
import ScrollReveal from '../shared/ScrollReveal.astro';

type Benefits = {
	title: string;
	description: string;
	iconName: string;
	iconAlt: string;
};

const benefits: Benefits[] = [
	{
		title: 'Deliberately Designed',
		description:
			'A website that gets straight to the point.  Built for action — clear service pages, no guesswork, and a layout that makes it easy for serious clients to reach out.',
		iconName: 'AIChatbot',
		iconAlt: 'AI Chatbot',
	},
	{
		title: 'Fewer time-wasting calls',
		description:
			'We filter out the tire-kickers by structuring your site to attract the right projects, not just any projects.',
		iconName: 'Invoicing',
		iconAlt: 'Invoicing Icon',
	},
	{
		title: 'Professional Image',
		description:
			'First impressions count. We make sure your brand looks like a pro operation — even if you’re still on the tools every day.',
		iconName: 'Reviews',
		iconAlt: 'Reviews Icon',
	},
	{
		title: 'Works on Every Device',
		description:
			'Your clients are checking you out from a phone. Your site should load fast, look good, and work everywhere.',
		iconName: 'Conversations',
		iconAlt: 'Conversations Icon',
	},
	{
		title: 'Clear process, clear results',
		description:
			"We respect your time. From discovery to launch, we stick to timelines, speak your language, and handle the tech so you don'at have to.",
		iconName: 'Track',
		iconAlt: 'Tracking Leads and Jobs Icon',
	},
	{
		title: 'A Website That Pays for Itself',
		description:
			"This isn't just a cost — it's a tool. One solid job from a lead who found you online could cover the entire thing. And the longer you wait, the more work you miss out on.",
		iconName: 'Automate',
		iconAlt: 'Automation Icon',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
	eyebrow?: string;
	className?: string;
}

const {
	title = "We Get What It's Like to Be in Your Boots",
	eyebrow = 'Why Worksite Leads?',
} = Astro.props as Props;
---

<SectionContainer
	title={title}
	eyebrow={eyebrow}
	headerColor="text-gray-200"
	textColor="text-gray-200"
	backgroundColor="bg-gray-700"
>
	<div
		class="grid grid-cols-1 mt-6 md:mt-12 sm:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-y-20 lg:gap-x-10"
		data-group-reveal
	>
		{
			benefits.map((benefit) => (
				<ScrollReveal stagger={true}>
					<ExtraServiceCard
						title={benefit.title}
						description={benefit.description}
						iconName={benefit.iconName}
						iconAlt={benefit.iconAlt}
						variation="secondary"
					/>
				</ScrollReveal>
			))
		}
	</div>
</SectionContainer>
