---
// Layout
import Layout from '@/layouts/Layout.astro';
// Sections
import SubPageHero from '@/components/sections/shared/SubPageHero.astro';
import Testimonials from '@/components/sections/shared/Testimonials.astro';
import Portfolio from '@/components/sections/shared/Portfolio.astro';
import CTA from '@/components/sections/shared/CTA.astro';
// Components
import ContactUsFormEmbed from '@/components/ui/forms/ContactUsFormEmbed.astro';
import ListItem from '@/components/ui/ListItem.astro';

type Contact = {
	name: string;
	value: string;
	href?: string;
};

const contactInfo: Contact[] = [
	{
		name: 'email',
		value: 'contact@worksiteleads.com',
		href: 'mailto:contact@worksiteleads.com',
	},
	{
		name: 'number',
		value: '+1 (316) 330 - 4092',
		href: 'tel:+1(316)3304092',
	},
];
---

<Layout
	hasHero={true}
	title="Contact Page - Worksite Leads"
	description="Contact us with any questions or general inquiries."
>
	<SubPageHero
		eyebrow="Got Questions?"
		title="Contact Us"
		description="We are dedicated to providing exceptional support to ensure your experience with our products & services is seamless. <br><br>Our support team is here to assist you with any queries or issues you may encounter."
		isContactPage={true}
	>
		<div
			slot="after-description"
			class="flex flex-col gap-1"
		>
			{
				contactInfo.map((contact) =>
					contact.href ? (
						<a
							href={contact.href}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:text-primary-500"
						>
							<ListItem text={contact.value} />
						</a>
					) : (
						<ListItem text={contact.value} />
					)
				)
			}
		</div>
		<Fragment slot="after-content">
			<ContactUsFormEmbed />
		</Fragment>
	</SubPageHero>
</Layout>
<Testimonials backgroundColor="bg-gray-50" />
<Portfolio />
<CTA />
