---
import AIChatbot from '@/assets/icons/AIChatbot.astro';
import Invoicing from '@/assets/icons/Invoicing.astro';
import Reviews from '@/assets/icons/Reviews.astro';
import Conversations from '@/assets/icons/Conversations.astro';
import Track from '@/assets/icons/Track.astro';
import Automate from '@/assets/icons/Automate.astro';

import Devices from '@/assets/icons/Devices.astro';
import TimeMoney from '@/assets/icons/TimeMoney.astro';
import DeliberatelyDesigned from '@/assets/icons/DeliberatelyDesigned.astro';
import ProfessionalImage from '@/assets/icons/ProfessionalImage.astro';
import ClearProcess from '@/assets/icons/ClearProcess.astro';
import MoneyTree from '@/assets/icons/MoneyTree.astro';

interface Props {
	title: string;
	description: string;
	iconName: string;
	iconAlt: string;
	variation?: 'default' | 'secondary';
}

const {
	title = 'title',
	description = 'description',
	iconName,
	iconAlt,
	variation = 'default',
} = Astro.props as Props;

const iconComponents = {
	AIChatbot,
	Invoicing,
	Reviews,
	Conversations,
	Track,
	Automate,
	Devices,
	TimeMoney,
	DeliberatelyDesigned,
	ProfessionalImage,
	ClearProcess,
	MoneyTree,
};

const Icon = iconComponents[iconName as keyof typeof iconComponents];

const variationStyles = {
	default: {
		iconColor: 'text-primary-500',
		header: 'heading-l3 text-gray-900',
		textColor: 'text-gray-700',
		background: '',
	},
	secondary: {
		iconColor: 'text-gray-100',
		header: 'wsl-text-lg text-primary-500',
		textColor: 'text-gray-200',
		background: 'bg-gray-700',
	},
};

const styleConfig = variationStyles[variation];
---

<article class:list={[`flex flex-col gap-2 justify-center`]}>
	<div
		class={`icon-wrapper w-full max-w-[100px] self-center ${styleConfig.iconColor}`}
	>
		{
			Icon && (
				<Icon
					alt={iconAlt}
					class="w-full"
				/>
			)
		}
	</div>
	<div class:list={['content-wrapper', 'flex flex-col gap-2 text-center']}>
		<h3
			class={`${styleConfig.header}`}
			set:html={title}
		/>
		<p
			class={`wsl-text-sm ${styleConfig.textColor}`}
			set:html={description}
		/>
	</div>
</article>
