---
import { Image } from 'astro:assets';
import Button from '@/components/ui/buttons/Button.astro';

interface Props {
	title: string;
	description: string;
	image: ImageMetadata;
	imageAlt: string;
	href: string;
	className?: string;
}

const {
	title,
	description,
	image,
	imageAlt,
	href,
	className = '',
} = Astro.props as Props;
---

<article>
	<div class="image-wrapper">
		<Image
			src={image}
			alt={imageAlt}
		/>
	</div>
	<div class="content-wrapper">
		<h2
			class="title"
			set:html={title}
		/>
		<p
			class="description"
			set:html={description}
		/>
		<Button
			text="Learn More"
			href={href}
			type="link"
			linkColor="text-accent-300"
		/>
	</div>
</article>
