---
import { Image } from 'astro:assets';
import Button from '@/components/ui/buttons/Button.astro';

interface Props {
	title: string;
	description: string;
	image: ImageMetadata;
	imageAlt: string;
	href: string;
	className?: string;
	variation: '1' | '2' | '3';
}

const {
	title,
	description,
	image,
	imageAlt,
	href,
	variation = 1,
} = Astro.props as Props;

/*
 ** Card Variations
 ** 1. Yellow title, white text, on dark gray background.
 ** 2. Black title, dark gray text, on light gray background.
 ** 3. Black title, dark gray text, on yellow background.
 */
const styleConfig = {
	'1': {
		background: 'bg-gray-500',
		title: 'text-primary-500',
		description: 'text-white-300',
		link: 'text-accent-300',
	},
	'2': {
		background: 'bg-gray-200',
		title: 'text-black-700',
		description: 'text-black-500',
		link: 'text-accent-700',
	},
	'3': {
		background: 'bg-primary-500',
		title: 'text-black-700',
		description: 'text-black-500',
		link: 'text-accent-700',
	},
};

const cardStyle = styleConfig[variation];
---

<article class={`${cardStyle.background}`}>
	<div class="image-wrapper">
		<Image
			src={image}
			alt={imageAlt}
		/>
	</div>
	<div class="content-wrapper">
		<h2
			class={`heading-l3 ${cardStyle.title}`}
			set:html={title}
		/>
		<p
			class={`wsl-text-sm ${cardStyle.description}`}
			set:html={description}
		/>
		<Button
			text="Learn More"
			href={href}
			type="link"
			linkColor={cardStyle.link}
		/>
	</div>
</article>
