---
import ExtraServiceCard from '@/components/ui/cards/ExtraServiceCard.astro';

type Service = {
	title: string;
	description: string;
	iconName: string;
	iconAlt: string;
};

const services: Service[] = [
	{
		title: 'AI Chatbot',
		description: 'placeholder text',
		iconName: 'AIChatbot',
		iconAlt: 'alt',
	},
	{
		title: 'Invoicing',
		description: 'placeholder text',
		iconName: 'Invoicing',
		iconAlt: 'alt',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
	className?: string;
}

const {
	title = 'All-in-One Digital Packages',
	subtitle = 'more than just websites, we offer all-in-one packages designed to help you manage and grow your business',
} = Astro.props as Props;
---

<section class="px-4 py-9">
	<div class="content-container">
		<!-- Section Header -->
		<div class="text-center max-w-3xl mx-auto mb-10 flex flex-col gap-3">
			<h2
				id="services-heading"
				class="text-3xl sm:text-4xl lg:text-5xl font-bold text-gray-900 mb-4"
			>
				{title}
			</h2>
			<p class="capitalize wsl-text-lg text-gray-600 leading-relaxed">
				{subtitle}
			</p>
		</div>
		<!-- Additional Services Grid -->
		<div class="grid grid-cols-1 gap-8 lg:gap-12">
			{
				services.map((service) => (
					<ExtraServiceCard
						title={service.title}
						description={service.description}
						iconName={service.iconName}
						iconAlt={service.iconAlt}
					/>
				))
			}
		</div>
	</div>
</section>
