---
import SectionContainer from '../shared/SectionContainer.astro';
import ExtraServiceCard from '@/components/ui/cards/ExtraServiceCard.astro';
import ScrollReveal from '../shared/ScrollReveal.astro';

type Service = {
	title: string;
	description: string;
	iconName: string;
	iconAlt: string;
};

const services: Service[] = [
	{
		title: 'AI Chatbot',
		description:
			"Let a smart chatbot answer common questions, collect job details, and book appointments — so you don't have to stop working to answer your phone.",
		iconName: 'AIChatbot',
		iconAlt: 'AI Chatbot',
	},
	{
		title: 'Simple Invoicing',
		description:
			"Send quotes and invoices fast, collect payments online, and track who's paid—without needing a second app or accountant.",
		iconName: 'Invoicing',
		iconAlt: 'Invoicing Icon',
	},
	{
		title: 'Get More 5-Star Reviews',
		description:
			'We help you ask for reviews after each job, automatically. More reviews means more trust, better rankings, and more calls.',
		iconName: 'Reviews',
		iconAlt: 'Reviews Icon',
	},
	{
		title: 'All Your Conversations in One Place',
		description:
			"Whether it's texts, emails, or Facebook messages, keep every customer chat in one easy inbox so you never miss a follow-up again.",
		iconName: 'Conversations',
		iconAlt: 'Conversations Icon',
	},
	{
		title: 'Keep Track of Every Lead and Job',
		description:
			"Use a simple CRM to see every lead, customer, and job in one place. Follow up, stay organized, and never forget who's waiting on a quote.",
		iconName: 'Track',
		iconAlt: 'Tracking Leads and Jobs Icon',
	},
	{
		title: 'Automate the Repetitive Stuff',
		description:
			'From sending reminders to follow-ups after quotes, we automate the admin work so you can spend more time on the job, not on the phone.',
		iconName: 'Automate',
		iconAlt: 'Automation Icon',
	},
];

interface Props {
	title?: string;
	eyebrow?: string;
	className?: string;
}

const {
	title = 'All-in-One Digital Packages',
	eyebrow = 'More Than Just Websites',
} = Astro.props as Props;
---

<SectionContainer
	title={title}
	eyebrow={eyebrow}
	backgroundColor="bg-gray-100"
>
	<div
		class="grid grid-cols-1 mt-6 md:mt-10 lg:mt-12 sm:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-y-20 lg:gap-x-10"
		data-group-reveal
	>
		{
			services.map((service) => (
				<ScrollReveal stagger={true}>
					<ExtraServiceCard
						title={service.title}
						description={service.description}
						iconName={service.iconName}
						iconAlt={service.iconAlt}
					/>
				</ScrollReveal>
			))
		}
	</div>
</SectionContainer>
