---
import BenefitCard from '@/components/ui/cards/BenefitCard.astro';

type Benefit = {
	title: string;
	description: string;
	image: ImageMetadata;
	imageAlt: string;
	reverse?: boolean;
};
interface Props {
	subtitle: string;
	title: string;
	backgroundColor?: string;
	benefits: Benefit[];
}
const {
	subtitle,
	title,
	backgroundColor = 'bg-gray-700',
	benefits,
} = Astro.props;
---

<section
	class={`${backgroundColor}`}
	data-reveal-group
>
	<div class="content-container flex flex-col gap-16 lg:gap-24 items-center">
		<!-- Section Header -->
		<div class="text-left md:text-center">
			<h3 class="subtitle text-primary-500 !font-semibold">{subtitle}</h3>
			<h2 class="heading-l2 text-gray-100">{title}</h2>
		</div>

		{
			benefits && (
				<ul class="flex flex-col gap-12 md:gap-20 ">
					{benefits.map((benefit) => (
						<BenefitCard
							title={benefit.title}
							description={benefit.description}
							image={benefit.image}
							imageAlt={benefit.imageAlt}
							reverse={benefit.reverse}
						/>
					))}
				</ul>
			)
		}
	</div>
</section>
