---
import SectionContainer from './SectionContainer.astro';
import PortfolioCard from '@/components/ui/cards/PortfolioCard.astro';
import ScrollReveal from '@/components/sections/shared/ScrollReveal.astro';

// Image Imports
import placeHolderImage from '@/assets/tmp.avif';
import PremierRenovationImage from '@/assets/PremierRenovations.png';
import OakridgeRenovationImage from '@/assets/OakridgeRenovations.png';
import ElevateImage from '@/assets/Elevate.png';

type Project = {
	title: string;
	description: string;
	image: ImageMetadata;
	href: string;
};

const projects: Project[] = [
	{
		title: 'Premier Renovations',
		description:
			'Bring Your Dream Home to Life. Trusted renovations with craftsmanship you can count on. Transform your space with our expert team.',
		image: PremierRenovationImage,
		href: 'https://premier-renovations.worksiteleads.com',
	},
	{
		title: 'Oakridge Renovations',
		description:
			'Transforming Homes with Care and Craftsmanship. Experienced renovators delivering quality results, tailored to your vision.',
		image: OakridgeRenovationImage,
		href: 'https://oakridge-renovations.worksiteleads.com',
	},
	{
		title: 'Elevate',
		description:
			'Your Vision. Our Craft. Transforming homes with purpose, precision, and personality.',
		image: ElevateImage,
		href: 'https://elevate.worksiteleads.com',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
}

const {
	title = 'Recent Works',
	subtitle = "We've had the privilege of working with a wide range of clients from across North America — Our websites are more than just pretty designs; they're built to drive results.",
} = Astro.props as Props;
---

<SectionContainer
	title={title}
	subtitle={subtitle}
	backgroundColor="bg-gray-700"
	headerColor="text-primary-500"
	textColor="text-gray-200"
	sectionId="portfolio"
>
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
		data-group-reveal
	>
		{
			projects.map((project) => (
				<ScrollReveal stagger={true}>
					<PortfolioCard
						title={project.title}
						description={project.description}
						image={project.image}
						href={project.href}
						class=""
					/>
				</ScrollReveal>
			))
		}
	</div>
</SectionContainer>
