---
import PortfolioCard from '@/components/ui/cards/PortfolioCard.astro';
// Image Imports

import placeHolderImage from '@/assets/worksiteleads-logo.png';

type Project = {
	title: string;
	description: string;
	image: ImageMetadata;
	href: string;
};

const projects: Project[] = [
	{
		title: 'Company Name',
		description: 'Short description of the company',
		image: placeHolderImage,
		href: '/',
	},
	{
		title: 'Company Name',
		description: 'Short description of the company',
		image: placeHolderImage,
		href: '/',
	},
	{
		title: 'Company Name',
		description: 'Short description of the company',
		image: placeHolderImage,
		href: '/',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
}

const {
	title = 'Recent Works',
	subtitle = "We've had the privilege of working with a wide range of clients from across North America — Our websites are more than just pretty designs; they're built to drive results.",
} = Astro.props as Props;
---

<section>
	<div class="content-container">
		<div class="text-left md:text-center max-w-3xl mx-auto flex flex-col gap-3">
			<h2
				id="services-heading"
				class="heading-l1"
			>
				{title}
			</h2>
			<p class="capitalize wsl-text-lg text-gray-600 leading-relaxed">
				{subtitle}
			</p>
		</div>
		<div class="portfolio-card-group">
			{
				projects.map((project) => (
					<PortfolioCard
						title={project.title}
						description={project.description}
						image={project.image}
						href={project.href}
					/>
				))
			}
		</div>
	</div>
</section>
