---
import ScrollReveal from './ScrollReveal.astro';
interface Props {
	title: string;
	subtitle?: string;
	eyebrow?: string;
	backgroundColor?: string;
	headerColor?: string;
	textColor?: string;
	centerHeader?: boolean;
	sectionId?: string;
}

const {
	title = 'Title',
	subtitle,
	eyebrow,
	backgroundColor = 'bg-gray-50',
	textColor = 'text-gray-600',
	headerColor = 'text-gray-600',
	centerHeader = false,
	sectionId,
} = Astro.props as Props;

const headerAlignment =
	centerHeader === false ? 'text-left md:text-center' : 'text-center';
---

<section
	class={`${backgroundColor}`}
	data-reveal-group
	id={sectionId}
>
	<div class="content-container flex flex-col gap-10 lg:gap-10">
		<!-- Section Header -->
		<div
			class={`${headerAlignment} max-w-3xl mx-auto flex flex-col gap-3 scroll-reveal`}
			data-reveal-group
		>
			{
				eyebrow && (
					<ScrollReveal stagger={true}>
						<h3
							class="subtitle text-primary-500 !font-bold"
							set:html={eyebrow}
						/>
					</ScrollReveal>
				)
			}
			<ScrollReveal stagger={true}>
				<h2
					id="services-heading"
					class={`heading-l2 ${headerColor}`}
					set:html={title}
				/>
			</ScrollReveal>
			{
				subtitle && (
					<ScrollReveal stagger={true}>
						<p
							class={`wsl-text-sm leading-relaxed ${textColor}`}
							set:html={subtitle}
						/>
					</ScrollReveal>
				)
			}
		</div>
		<ScrollReveal stagger={true}>
			<slot />
		</ScrollReveal>
	</div>
</section>
