---
interface Props {
	title: string;
	subtitle: string;
	backgroundColor?: string;
	headerColor?: string;
	textColor?: string;
	centerHeader?: boolean;
}

const {
	title = 'Title',
	subtitle = 'subtitle',
	backgroundColor = 'bg-gray-50',
	textColor = 'text-gray-600',
	headerColor = 'text-gray-600',
	centerHeader = false,
} = Astro.props as Props;

const headerAlignment =
	centerHeader === false ? 'text-left md:text-center' : 'text-center';
---

<section class={`px-4 py-9 ${backgroundColor}`}>
	<div class="content-container flex flex-col gap-10 lg:gap-10">
		<!-- Section Header -->
		<div class={`${headerAlignment} max-w-3xl mx-auto flex flex-col gap-3`}>
			<h2
				id="services-heading"
				class={`heading-l1 ${headerColor}`}
				set:html={title}
			/>
			<p class={`wsl-text-lg leading-relaxed ${textColor}`}>
				{subtitle}
			</p>
		</div>
		<slot />
	</div>
</section>
