---
// Hero.astro
import { Image } from 'astro:assets';
import heroBg from '@/assets/home-banner-bg.png';

interface Props {
	eyebrow?: string;
	title?: string;
	description?: string;
	class?: string;
	layout?: 'horizontal' | 'vertical';
	hasHeroImage?: boolean;
	isContactPage?: boolean;
}

const {
	title = 'Sub-Page Title',
	eyebrow = 'Eyebrow Text',
	description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
	class: className,
	layout = 'horizontal',
	hasHeroImage = true,
	isContactPage = false,
} = Astro.props;

const layoutConfig = {
	horizontal: {
		container:
			'gap-10 items-center md:flex-row md:flex-start md:justify-center md:items-start',
		content: 'md:max-w-1/2 pt-0 md:pt-30',
	},
	vertical: {
		container: 'items-center',
		content: 'md:pt-20 md:w-full lg:pt-28',
	},
};

const formConfig = {
	horizontal: 'lg:pt-8',
	vertical: 'pt-5 lg:pt-8',
};

const layoutStyle = layoutConfig[layout];
const contactPageStyle = isContactPage ? 'min-w-[360px] lg:min-w-[520px]' : ' ';
const formStyle = hasHeroImage ? formConfig[layout] : 'hidden';

const noHeroImageStyle = {
	container: '!items-start',
	content: 'max-w-[75ch] pt-0 md:pt-30',
};
const containerStyle = hasHeroImage
	? layoutStyle.container
	: noHeroImageStyle.container;
const contentStyle = hasHeroImage
	? layoutStyle.content
	: noHeroImageStyle.content;
---

<section class="relative overflow-hidden">
	<!-- Background Image -->
	<div class="absolute inset-0 z-0">
		<Image
			src={heroBg}
			alt=""
			class="w-full h-full object-fill object-top min-h-full lg:w-full"
			loading="eager"
			fetchpriority="high"
			format="webp"
			quality={90}
			densities={[1, 2]}
		/>
		<!-- Overlay -->
		<div class="absolute inset-"></div>
	</div>

	<!-- Content Container -->
	<div
		class={`content-container relative z-10 min-h-screen flex flex-col ${containerStyle}`}
	>
		<!-- Main Content Area -->
		<div
			class={`flex flex-col gap-5 justify-center mt-20 md:mt-0 ${className} ${contentStyle}`}
		>
			<div class="flex flex-col">
				<span
					class="text-primary-500 wsl-text-lg font-extrabold font-montserrat capitalize"
					set:html={eyebrow}
				/>
				<!-- Main Heading -->
				<h1
					class="heading-l1 text-gray-50 capitalize"
					set:html={title}
				/>
			</div>
			<div class="flex flex-col gap-10">
				<p
					class="text-gray-100 wsl-text-lg"
					set:html={description}
				/>
				<slot name="after-description" />
			</div>
		</div>

		<div
			class={`pb-10 lg:pb-20 w-full md:min-h-[450px] ${contactPageStyle} ${formStyle}`}
		>
			<slot name="after-content" />
		</div>
	</div>
</section>
