---
import SectionContainer from './SectionContainer.astro';
import TestimonialCard from '@/components/ui/cards/TestimonialCard.astro';
import ScrollReveal from '@/components/sections/shared/ScrollReveal.astro';

type Testimonial = {
	client: string;
	review: string;
	city?: string;
	company?: string;
};

const testimonials: Testimonial[] = [
	{
		client: 'Company Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
	{
		client: 'Client Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
	{
		client: 'Client Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
	{
		client: 'Client Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
	{
		client: 'Client Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
	{
		client: 'Client Name',
		review:
			'Testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote testimonial quote ',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
	backgroundColor?: string;
}

const {
	title = 'Reviews',
	subtitle = 'Trusted by industry leaders to take their businesses to the next level.',
	backgroundColor = 'bg-gray-100',
} = Astro.props as Props;
---

<SectionContainer
	title={title}
	subtitle={subtitle}
	backgroundColor={backgroundColor}
>
	<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-5">
		{
			testimonials.map((testimonial) => (
				<ScrollReveal stagger={true}>
					<TestimonialCard
						client={testimonial.client}
						review={testimonial.review}
						class="w-full"
					/>
				</ScrollReveal>
			))
		}
	</div>
</SectionContainer>
