---
import ScrollReveal from './ScrollReveal.astro';

// Images & Media
import Star from '@/assets/icons/Star.astro';

interface Props {
	title: string;
	subtitle: string;
	backgroundColor?: string;
	body: string;
	centerHeader?: boolean;
	sectionId?: string;
}

const {
	title = 'title',
	subtitle = 'subtitle',
	backgroundColor = 'bg-gray-50',
	body = 'text',
	sectionId,
} = Astro.props as Props;
---

<section
	class={`${backgroundColor}`}
	data-reveal-group
	id={sectionId}
>
	<div class="content-container flex flex-col gap-10 lg:gap-10 items-center">
		<!-- Section Header -->
		<div class="text-left md:text-center">
			<ScrollReveal
				animation="slideUp"
				stagger={true}
			>
				<h3 class="subtitle text-primary-500 !font-bold">{subtitle}</h3>
			</ScrollReveal>
			<ScrollReveal
				animation="slideUp"
				stagger={true}
			>
				<h2 class="heading-l2">{title}</h2>
			</ScrollReveal>
		</div>
		<ScrollReveal
			animation="slideUp"
			stagger={true}
		>
			<div
				class="star-divider flex justify-center items-center text-primary-500 md:gap-2"
			>
				<Star class="w-10 h-10 md:h-14 md:w-14" />
				<Star class="w-10 h-10 md:h-14 md:w-14" />
				<Star class="w-10 h-10 md:h-14 md:w-14" />
				<Star class="w-10 h-10 md:h-14 md:w-14" />
				<Star class="w-10 h-10 md:h-14 md:w-14" />
			</div>
		</ScrollReveal>
		<ScrollReveal
			animation="slideUp"
			stagger={true}
		>
			<p
				class="text-center wsl-text-lg text-gray-500"
				set:html={body}
			/>
		</ScrollReveal>
	</div>
</section>
